.mat-mdc-raised-button{
    float: right;
    margin-top: 14px;
    a{
        text-decoration: none;
    }
}
.user-info{
    padding-top: 12px;
    p{
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 0;
    }
}